.container {
  width: auto;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  /* background-color: #393E46; */
  position: relative;
  min-height: 100vh;
  background-image: linear-gradient(rgba(2, 7, 26, 0.7), rgba(34, 60, 166, 0.7)),
    url(./images/background.jpg);
  width: auto;
  background-position: center;
  background-size: cover;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #f24c4c;
}

p {
  font-size: 2rem;
  color: #f47c7c;
  font-family: "Indie Flower", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

button {
  border-radius: 20%;
  padding: 1rem 2rem;
}

.play-again {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.play-again:hover {
  cursor: pointer;
  background: #f24c4c;
}
