
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    font-family: 'Poppins', sans-serif;
}
h1{
    color: black;
    text-align: center;
    
}
.container{
    width: 50%;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 49px;
    
}
.content{
    padding: 20px;
}
#quote{
    font-size: 30px;
    text-align: center;
}
#author{
    font-style: italic; 
    font-weight: bold; 
    color: #000000; 
    text-align: right; 
}
#button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
}
#button:hover {
    background-color: #ffffff;
    color: #000000;
}