/* Add beautiful background image */
body {
  background: url('Images/background.jpg') center/cover no-repeat;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  color: #fff;
}

/* Button style */
.btn {
  background-color: rgb(153, 51, 151);
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

/* Toast Notifications */
#toasts {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px 0;
  max-width: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.toast .title {
  font-weight: bold;
  margin-bottom: 5px;
}

.toast.info {
  background-color: rgba(100, 149, 237, 0.8); /* Dodger Blue */
  color: #fff;
}

.toast.success {
  background-color: rgba(46, 139, 87, 0.8); /* Sea Green */
  color: #fff;
}

.toast.error {
  background-color: rgba(220, 20, 60, 0.8); /* Crimson */
  color: #fff;
}
