.footer-1{
    background-color: gainsboro;
    height: 280px;
}

.footer-1 .text-1{
    bottom: 10%;
    color: black;
    text-align: center;
margin-bottom: 0%;
}

.footer-1 .data{
    margin: 50px;
    padding: 50px;
}

.footer-1 .data .button{
height: 47px;
width: 83px;
margin: 10px;
padding: 0px;
color: white;
background-color: green;

}

.footer-1 .data .heading{
   
    font-size: 20px;
    color: green;
    font-weight: bolder;
}