* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
    font-family: "inter" sans-serif;
    color: #343a40;
    line-height: 1;
}

.accordion {
    width: 700px;
    margin: 100px auto;
    /* background-color: #343a40; */

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.item {
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.1);
    padding: 24px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 24px;
    row-gap: 32px;
    align-items: center;
}
.number,
.text {
    font-size: 24px;
    font-weight: 500;
    color: #087f5b;
}

.number {
    color: #ced4da;
}

.text {
}

.icon {
    width: 24px;
    stroke: #087f5b;
}

.hidden-box {
    grid-column: 2;
    display: none;
}

.hidden-box P {
    line-height: 1.6;
    margin-bottom: 24px;
}

.hidden-box ul {
    color: #868e96;
    margin-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.open {
    border-top: 4px solid #087f5b;
}

.open .hidden-box {
    display: block;
}

.open .number,
.open .text {
    color: #087f5b;
}
