/*for default screensize(laptop)*/
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.top-heading {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color: #333333;
    margin-top: 40px;
    margin-left: 77px;
    margin-bottom: 0;
}

.wrapper {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.img {
    width: 539.22px;
    height: 447.43px;
    margin-left: 77px;

}

.content {
    padding-right: 119px;
    padding-left: 119px;
}

.heading {
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
    margin-bottom: 36px;
}

.description {
    font-family: Space Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;
    margin-top: 0;
    margin-bottom: 64px;
    margin-right: 204px;
}

.btn {
    height: 68px;
    width: 216px;
    margin-top: 0;
    background-color: #333333;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.attribution {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #BDBDBD;
}

.attribution>a {
    font-weight: 700;
    text-decoration: none;
    color: #BDBDBD;
}

/* for mobile screensize*/
@media only screen and (max-width: 625px) {

    .body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .top-heading {
        margin-top: 20px;
        margin-left: 24px;
    }

    .content {
        margin-left: 24px;
        padding: 0;
    }

    .heading {
        margin-top: 50px;
        margin-bottom: 30px;
        font-size: 48px;
        line-height: 60px;
    }

    .description {
        font-size: 18px;
        line-height: 27px;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .wrapper {
        flex-direction: column;
        margin-top: 50px;
        padding: 0;
    }

    .img {
        height: 238px;
        width: 286px;
        margin: 0;
    }

    footer {
        margin-top: auto;
    }
}
