@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom, #c2e59c, #64b3f4);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 400px;
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  flex: 1;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 16px;
}

button {
  border: none;
  cursor: pointer;
  height: 3rem;
  width: 8rem;
  transition: background-color 0.3s ease;
  background-color: #3cb371;
  color: #fff;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
}

button:hover {
  background-color: #32a95f;
}

ul {
  display: flex;
  margin-top: 2rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
}

li {
  margin: 12px;
  border: 2px solid #e0e0e0;
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 18px;
  background-color: #ffffff;
  color: #333;
}
