
  .grid{
    position: absolute;
    width: 560px;
    height:300px;
    border: solid black 5px;
    /* margin: 80px; */
  }

  .block{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
  }

  .user{
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
  }
  
  .ball{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
  }

