header{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 70px;
    .copy{
        font-size: 12px;
        color: gray;
    }
    margin-bottom: 20px;
}