@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

p {
    margin: 10px 0;
}

#total-counter {
    font-weight: bold;
    color: #007bff;
}