html{
    scroll-behavior: smooth;
}
body{
    font-family:'Roboto Condensed', sans-serif;
    margin:0;
    background:#ffffff;
    height: auto;
}
main{
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,0.1),
    -30px 0px 40px rgba(0,0,0,0.1);
}
#btn{
    text-align:left;
}
#btn a{
    text-decoration: none;
    padding: 0.5rem;
    margin:1rem 0.8rem;
    display: inline-block;
    color:#fff;
    border: 1px black solid;
    background-color: black;

}
#btn a:hover{
    background-color:rgb(36, 36, 36);
    border-color: rgb(36, 36, 36);
}

h1{
    font-weight: 400;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin:0;
    text-align: center;
}
h2{
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    text-align: center;
}
#landing{
    background: #eeeeee;
}
#landingtext{
    display:flex;
    flex:0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding-right: 1rem;
    padding-left: 1rem;
}
#landingtextinner{
    border: 1px black solid;
    padding: 2em;
}
#landingimage{
    background: url("images/3landing.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex:0 1 60vw;
    margin: 0;
}
.heading{
    padding: 0.6rem;
    text-align: center;
    background-color: rgb(28, 28, 28);
    color:white;
}
#myimage img{
    display: block;
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 4rem;
    
}
#content p{
    margin:4rem;
    margin-bottom: 4rem;
    text-align: center;
    line-height: 1.6rem;
}
#images{
    display: block;
    width:100%;
}
#formcontent{
    padding:1.5rem;
}


input[type="text"],
input[type="email"],
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-top: 0.6rem;
    border: 1px solid rgb(240, 240, 240);
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    box-sizing: border-box;

}
input[type="submit"]{
    text-decoration: none;
    padding: 1rem 2rem;
    margin:1rem 0.8rem;
    display: inline-block;
    color:#fff;
    border: 1px  rgb(36, 36, 36) solid;
    background-color:  rgb(36, 36, 36);;

}
input[type="submit"]:hover{
    background-color:black;
    border-color: black;
}
footer{
    text-align: center;
    padding:2rem 1rem;
    margin:auto;
    color:#333;
}

@media(min-width:600px){
    #landing{
        display: flex;
        height: 100%;
    }
    #landingtext{
        height: 100vh;
        order: 2;
        flex: 1;
    }
    #landingimage{
        height: 100vh;
        flex: 2;
    }

    .container{
        display:grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(36,5vw);
        grid-gap: 0.2rem;
    }
    .container div img{
        width:100%;
        height: 100%;
        object-fit: cover;
    }
    .image1{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 9;
    }
    .image2{
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 1;
        grid-row-end: 7;
    }
    .image3{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 9;
        grid-row-end: 17;
    }
    .image4{
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 7;
        grid-row-end: 17;
    }
    .image6{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 17;
        grid-row-end: 22;
    }
    .image5{
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 17;
        grid-row-end: 21;
    }
    .image7{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 22;
        grid-row-end: 29;
    }
    .image8{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 22;
        grid-row-end: 28;
    }
    .image9{
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 21;
        grid-row-end: 28;
    }
    .image10{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 29;
        grid-row-end: 33;
    }
    .image11{
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 28;
        grid-row-end: 33;
    }
    .image12{
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 28;
        grid-row-end: 33;
    }
    .image13{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 33;
        grid-row-end: 37;
    }
    .image14{
        grid-column-start: 5;
        grid-column-end: 7;
        grid-row-start: 33;
        grid-row-end: 37;
    }

    
}
