// COLORS
//Primary colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);

//Neutral
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// FONTS
$fontMed: 1.125rem;
$fontSm: 0.875rem;
$fontLg: 1.25rem;
$fontXl: 3.25rem;
