body{
    margin: 0;
    background-color: #0c2547;
    text-align:center;
    height:100%;
    width:100%;
    }
    h1{
    margin:0px;
    font-family:montserrat;
    color:#fff;
    font-size:50px;
    }
    span.hi{
    color:#fff;
    font-family:hind madurai;
    letter-spacing:1px;
    }
    h2{
    margin:0px;
    color:#fff;
    font-weight:300;
    font-family:montserrat;
    font-size:22px;
    display:inline-block;
    letter-spacing:-1px;
    }
    p{
    font-family:Hind Madurai;
    color:#fff;
    }
    div.social i{
    color:#fff;
    font-size:24px;
    padding:10px;
    transition: background 0.3s;
    }
    div.social i:hover{
    background:#fff;
    color:#323840;
    border-radius:5px;
    }
    div.contact button{
    border:2px solid #fff;
    padding:7px 20px;;
    margin:10px;
    background:transparent;
    color:#fff; 
    outline:0px;
    font-family:Hind Madurai;
    font-size:16px;
    cursor:pointer;
    transition: background 0.3s;
    }
    div.contact button:hover{
    background:#fff;
    color:#323840;
    }
    div.footer{
    margin-top:10px;
    }
    div.footer a{
    color:#fff;
    }
    div.footer i{
    color:#ccc;
    font-size:12px;
    font-family:Montserrat;
    }
    div#particles-js{
    z-index:-1;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    }
.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}