body {
  background-image: url(https://2.bp.blogspot.com/-_sSu8LcQdvs/T8pLnP6dO5I/AAAAAAAAACc/DnrO68B8DiY/s1600/math-time-backgrounds-wallpapers.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
  letter-spacing: 0.1em;
}

.logo {
  width: 300px;
}

h2 {
  color: #024873;
}

.links__item {
  display: block;
  max-width: 550px;
  margin: 0 auto 15px;
  margin-bottom: 5px;
  padding: 15px 20px;
  font-size: 0.95rem;
  line-height: 1.5;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: black;
}

.links__list {
  display: inline-table;
  max-width: 550px;
  margin: 0 auto 15px;
  margin-bottom: 5px;
  padding: 15px 20px;
  font-size: 0.95rem;
  line-height: 1.5;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: black;
}

.links__list .links__fitur:hover {
  background-color: #fff;
}

.links__list .links__fitur {
  box-shadow: inset 0 -4px 0 #73e2a7;
  border-radius: 25px;
  border: 2px solid #73e2a7;
  background-color: #73e2a7;
}

.links__item .links__operasi {
  border-bottom: 3px solid #fed766;
  box-shadow: inset 0 -4px 0 #1c1c1c;
  border-radius: 25px;
  border: 2px solid #000000;
  background-color: #fed766;
}

.links__item .links__head {
  border-bottom: 3px solid #fed766;
  box-shadow: inset 0 -4px 0 #fed766;
  border-radius: 25px;
  border: 2px solid #000000;
  background-color: #fed766;
}

.channels {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.channels .channels__item {
  flex: 1;
  margin-right: 5px;
  transition: transform 0.2s;
}

.channels__item:hover {
  transform: scale(1.5);
}

button {
  display: -webkit-inline-flex;
	background-color: #4CAF50;
    border: none;
    border-radius: 0.6em;
    color: white;
    padding: 9px;
    font-size: 12px;
    cursor: pointer;
}