@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root{
    --hue: 213;

    --color-1: #7b64df;
    --color-2: #60c3f5;
    --color-body: #dfe9f2;
    --color-title: #1c1c22;
    --color-text: #58576b;

    --font-body: 'Montserrat', sans-serif;
    --font-normal: .938rem;
    --font-h3: 1.125rem;
    --font-small: .75rem;
}

@media screen and (min-width: 968px){
    :root{
        --font-normal: 1rem;
        --font-h3: 1.25rem;
        --font-small: .813rem;
    }
}
*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: var(--font-body);
    font-size: var(--font-normal);
}
h3{
    margin: 0;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}
.bd_container{
    max-width: 968px;
    width: calc(100%-3rem);
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.card{
    position: relative;
    overflow: hidden;
    padding: 3rem 0;
    background-color: var(--color-body);
}
.container{
    display: grid;
    gap: 1.5rem;
}
.glass{
    position: relative;
    overflow: hidden;
    text-align: center;
    padding: 2.5rem;
    background: linear-gradient(130deg,
                rgba(251,251,254,.6),
                rgba(251, 251, 254, .2));
    box-shadow: inset 2px 2px 2px rgba(251, 251, 254, .3),
                inset -2px -2px 2px rgba(251, 251, 254, .3);
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
}
.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #f1f1f1;
    margin-bottom: 1rem;
}
.data{
    margin-bottom: 1.5rem;
}
.title{
    font-size: var(--font-h3);
    color: var(--color-title);
    font-weight: 600;
    margin-bottom: 0.25rem;
}
.profession{
    font-size: var(--font-small);
    color: var(--color-text);
    font-weight: 500;
}
.btn{
    display: inline-block;
    background: linear-gradient(130deg,
            rgba(251,251,254,.9),
            rgba(251, 251, 254, .2));
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    color: var(--color-title);
    font-weight: 500;
    transition: .3sec;
}
.btm:hover{
    background: linear-gradient(130deg,
    rgba(251,251,254,1),
    rgba(251, 251, 254, .4));
}
.social{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.link{
    display: block;
    font-size: 1.35rem;
    color: var(--color-title);
    margin: 1rem 0;
    transform: translateX(-5rem);
}
.link:nth-child(1){
    transition: .2s;
}
.link:nth-child(2){
    transition: .5s;
}
.link:nth-child(3){
    transition: .7s;
}
.glass:hover .link{
     transform: translateX(-1.5rem);
}
.circle{
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(130deg,
                rgba(116, 223, 205, 0.8),
                rgba(255,255,255,.2));
    border-radius: 50%;
}
.c1{
    top: 20%;
    left: -20%;
}
.c2{
    bottom: -5%;
    right: -25%;
    background: linear-gradient(130deg,
                rgba(93, 209, 255, 0.8),
                rgba(255,255,255,.2));
}

@media screen and (min-width:568px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width:768px){
    .bd_container{
        margin-left: auto;
        margin-right: auto;
    }
    .card{
        padding: 0;
    }
    .container{
        height: 100vh;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
    }
    .c1{
        left: 5%;
        top: 12%;
    }
    .c2{
        right: 8%;
        bottom: 15%;
    }
}