
.menu1
{
	position: absolute;
	top: 150px;
	left: 10px;
	width: 400px;
	height: 385px;
	background-color: #f5e5e4;
}
.menu2
{
	position: absolute;
	top: 150px;
	left: 220px;
	width: 400px;
	height: 390px;
	background-color: #f5e5e4;
}

.menu3
{
	position: absolute;
	top: 150px;
	left: 495px;
	width: 400px;
	height: 385px;
	background-color: #f5e5e4;
}
.menu4
{
	position: absolute;
	top: 150px;
	left: 620px;
	width: 400px;
	height: 385px;
	background-color: #f5e5e4;
}

.menu5
{
	position: absolute;
	top: 150px;
	left: 760px;
	width: 400px;
	height: 385px;
	background-color: #f5e5e4;
}
.menu6
{
	position: absolute;
	top: 150px;
	left: 850px;
	width: 400px;
	height: 385px;
	background-color: #f5e5e4;
}

.menu7
{
	position: absolute;
	top: 150px;
	left: 955px;
	width: 380px;
	height: 385px;
	background-color: #f5e5e4;
}
.menu8
{
	position: absolute;
	top: 150px;
	left: 1050px;
	width: 380px;
	height: 385px;
	background-color: #f5e5e4;
}