*{
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section{
    position: relative;
    /* width: 100%; */
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 100px;
    margin-left: 4rem;
    margin-top: 1rem;
}
header ul{
    position: relative;
    display: flex;
    padding-right: 7rem;
}
header ul li{
    list-style: none;
    padding-right: 2rem;
    font-size: large;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textbox{
    position: relative;
    max-width: 600px;
}
.content .textbox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textbox h2 span{
    color: #017143;
    font-size: 1.2em;
    /* line-height: 1.2em; */
    font-weight: 900;
}
.content .textbox p{
    color: #333;
}
.content .textbox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgbox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgbox img{
   max-width: 340px;
}
.thumb{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    display: flex;
    padding-bottom: 6rem;
    margin-bottom: 5rem;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-25px);
}
.thumb li img{
    max-width: 80px;
}
.sci{
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(750px at right 850px);
}